body{
background-image: url(img/fondo.jpg);
background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(8px);
  

}

.galeria{
 display: flex;
 flex-wrap: wrap;
 padding: 30px 600px;
flex-direction:column;

 }


.galeria img{
margin-top:10px;
vertical-aling.middle;
width:100%;
transition:all .2s ease;
border-radius:30px;
width:128px;
height:auto;
cursor:pointer;

}
@media screen and (max-width: 952px){
.galeria{
 padding: 20px 400px;}
}
@media screen and (max-width: 858px){

.galeria{
 padding: 20px 160px;
}


}