
*, *:before, *:after{
    padding: 0;
    margin: 0;
    outline:0; 
    box-sizing: border-box;
}
body{
 font-family:'Open Sans', Arial,Helvetica;
 background-color:#fff;
}
a:link, a:visited, a:active{
text-decoration:none;
color:black;}
 a:hover {
color:#2E8FBF;}

.menu{
background-color:#F7F7F7;
height:75%;
width:100vw;
display:flex;
justify-content: space-between;
align-items:center;
border-bottom: 1px solid black;
box-shadow:5px 0 10px rgba(0, 0, 0, .6);

} 

.logo{
padding:0 80px;
 
}
.logo2{
display:none;
 
}

.menu_items{
display:flex;
list-style:none;
margin-right:30px;
}

.menu_items li {
borde-radius:3px;
margin: 0 5px;
}

.menu_items li a{
padding:7px 13px;
text-decoration:none;
font-size:15px;
display:block;
text-transform:uppercase;
color: #000;
}
.menu_items li:hover, li.active {
background-color: rgba(0, 0, 0, .3);
transition: 2s;
}
.btn_menu{
margin-left: 30px;
font-size:25px;
cursor:pointer;
display:none;

}

ul.show{
top:65px;
}

li.usuario{
display:none;}

.container1 {
display:flex;
width: 100%;
height:auto%;
justify-content:center;
align-items:center;
padding:1em;
flex-direction:row;
}

.container1 p {
text-align:justify-all;
margin-top:40px;
font:size:35px;
padding:10px;
}


#cargador {
 border-radius:35px;
}



@media screen and (max-width: 952px){
 .logo{
height:60px;
width:60px;
padding-right:35px;
 }
.menu_items li a {
 font-size:14px;
}

}

@media screen and (max-width: 858px){
.menu{
height:65px;
position: fixed;
 z-index: 100;
}
.btn_menu{
display: inline-flex;
}

.menu_items{
position:fixed;
width:60vw;
height:100vh;
background:#000;
top:-100vh;
text-align:center;

flex-direction: column;
}

.menu_items li{
 margin:20px 0 0 0;
 line-height:30px;
}
.menu_items li:hover{
background:none;
}

.menu_items li a{
font-size:20px;
color:#fff;
font-weight:bold;
}

.menu_items li a:hover {
color:#ed526b;
}
.logo{
font-size:23px;
padding-right:280px
}

.logo2{
display:inline-flex;
font-size:13px;
padding-left:0.5px;
}


.in{
margin-left:-10em;
margin-top:-1.5em;
 
}
.in p{
font-size:24px;
}

li.fondo{
background:#ed526b;
margin: 0 50px;
margin-top:60px;
border-radius:20px;}

li.usuario{
 display: inline-flex;
 padding-left:230px;}


.servicio {
    padding-left: 0;
     list-style: none;
}
 
.servicio li{
    position: relative;
    padding-left:0;
}

.servicio li:before {
    content: '';
    width: 44px;
    height: 44px;
    position: absolute;
    background-image: url("img/cliente.png");
    background-size: cover;
    background-position: center;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.recrea {
    padding-left: 0;
     list-style: none;
}
 
.recrea li{
    position: relative;
    padding-left:0;
}

.recrea li:before {
    content: '';
    width: 44px;
    height: 44px;
    position: absolute;
    background-image: url("img/corriendo.png");
    background-size: cover;
    background-position: center;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.recrea li{
padding-left:35px;}

.Ayuda {
    padding-left: 0;
     list-style: none;
}
 
.Ayuda li{
    position: relative;
    padding-left:0;
}

.Ayuda li:before {
    content: '';
    width: 44px;
    height: 44px;
    position: absolute;
    background-image: url("img/bolsa-de-la-compra.png");
    background-size: cover;
    background-position: center;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.hogar {
    padding-left: 0;
     list-style: none;
}
 
.hogar li{
    position: relative;
    padding-left:0;
}

.hogar li:before {
    content: '';
    width: 44px;
    height: 44px;
    position: absolute;
    background-image: url("img/hogar.png");
    background-size: cover;
    background-position: center;
    left:  30px;
    top: 50%;
    transform: translateY(-50%);
}

.telefono {
    padding-left: 0;
     list-style: none;
}
 
.telefono li{
    position: relative;
    padding-left:0;
}

.telefono li:before {
    content: '';
    width: 44px;
    height: 44px;
    position: absolute;
    background-image: url("img/telefono.png");
    background-size: cover;
    background-position: center;
    left:  30px;
    top: 50%;
    transform: translateY(-50%);
}
.Ajuste {
    padding-left: 0;
     list-style: none;
}
 
.Ajuste li{
    position: relative;
    padding-left:0;
}

.Ajuste li:before {
    content: '';
    width: 44px;
    height: 44px;
    position: absolute;
    background-image: url("img/configuraciones.png");
    background-size: cover;
    background-position: center;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.container1 p {
font-size:15px;
}

.texto p{
margin-top:20px;}

.principal{
padding-top:90px;
}
.principal h1{
text-align:center;

}
.container1 {
width: 104%;
}


@media screen and (max-width: 858px) and (orientation: landscape){
.menu_items{
overflow:scroll;
height:calc(100%-65px);
}

.menu_items li{
 margin:5px 0 0 0;

}


}

