*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/fondo.jfif);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:'Open Sans', Arial,Helvetica;
  }

  .contenedor {
    
    background-color: #3EB5A2;
    font-size: 20px;
    color: white;
    justify-content:center;
    margin: 5%;
    padding: 45px;
    border-radius: 10px;
  }

.contenedor h1 {
padding-top:2px;
font-size:20px;}
    
h1{
color:white;
padding-top:40px;}
a{
color:black;

}