@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
}
#conteitemscarrusel{
	border: 0px solid;
	height: 141px;
        width:225px;
	overflow: hidden;
        margin:auto;
        


}
.carrusel{
	border: 0px solid;
	height: 141px;
	position: relative;
}
.tarjetascarrusel{
	background-color: aquamarine;
	height: 100%;
}
.flechascarrusel{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}
a{
	text-decoration: none;
}

i{
	color: #FFFFFF;
}

img{
	width: 100%;
	height: 100%;
}
